/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2130ff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header and Navigation */
header {
    background-color: #e70a0a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: #e8491d;
}

/* Main Content */
.data-diri {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.data-diri img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.data-diri table {
    width: 100%;
}

.data-diri td {
    padding: 10px 0;
}

.deskripsi-diri {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Copyright */
footer {
    background-color: #f00a0a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}